<style>
.user_box{
  float:right;
}
.likes{
  float:right;
  margin-left:5px;
}
.card-text{
   padding-left:5px;

}
.likes{
  margin-right:5px;
  display:flex;
}
.icon-image {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  object-fit: cover;
}
.cardheader{
  margin:3px auto;

}
</style>

<div class="card">

<span class="cardheader">
 <a href="/users/<%= tweet.user.id %>">
<img class="icon-image" src=<%= tweet.user.image %>> <%= tweet.user.nickname%>
</span></a>
<a href="/tweets/<%= tweet.id %>">
    <img src=<%= tweet.image %> class="card-img-top">
    </a>
  <div class="more"> 
    <div class="user_box">
    <% if user_signed_in?%>
      <div class="likes">
      <%= render 'likes/like', tweet: tweet %>
      <div class="like">
      いいね！
      </div>
      </div>
    <%end%>
    </div>
    </div>
      <div class="card-body">
        <p class="card-text"><%= tweet.text%></p>
      </div>
</div>