
<style>

.container{
  box-shadow:0px 0px 5px 0px;
   padding:10px;
   margin-left:30px;
}
.comments{
  height:450px;
  overflow:scroll;
}
.form-group{
  bottom:0
}
.subbtn{
  margin-top:5px;
  width:100%;
  border-radius: 30px;
}
.showcase{
display:flex;
margin:100px 50px;
}
.com_box{
  display:flex;
}
.date{
  color:gray;
  margin-top:5px;
  font-size:12px;
  padding-left:30px;
}
.likes{
  display:flex;
}
.icon-image {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  object-fit: cover;
}
</style>

<div class="showcase">
<div class="card_box">
<span class="cardheader">
 <a href="/users/<%= @tweet.user.id %>">
<img class="icon-image" src=<%= @tweet.user.image %>> <%= @tweet.user.nickname%>
</span></a>
<div class="card">
    <img src=<%= @tweet.image %> class="card-img-top">
    <div class="btn-group">  
  
 
     <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
      <div class="dropdown-menu">
    <li>
        <%= link_to'削除', "/tweets/#{@tweet.id}", method: :delete %>
    </li>      
    <li>
        <%= link_to'編集', "/tweets/#{@tweet.id}/edit", method: :get %>
    </li>
    </div>
    <%end%>
  
</div>
   <div class="likes">
        <%= render 'likes/like', tweet: @tweet %>
        <div class="like">いいね！
        </div>
          </div>
    <div class="card-body">
      <p class="card-text"><%= @tweet.text%></p>
    </div> 
  </div>
  </div>
   <div class="container">
    <div class="comments">
      <h6>コメント一覧</h6>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="com_box">
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <div class="comment"><%= comment.text %></div>
           <div class="date"> <%= comment.created_at %></div>
          </div>
        <% end %>
      <% end %>
    </div>
   <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
      <div class="form-group">
      <%= form.text_area :text, placeholder: "コメントする",class:'form-control', rows: "2" %>
      </div>
      <div class="subbtn">
        <%= form.submit "SEND",class:'subbtn btn-primary' %>
        </div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    </div>